body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/*navebar*/
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  color: green;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

.logo img {
  height: 10vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-item {
  font-size: em;
  margin: 0 25px;
  cursor: pointer;
  transition: text-decoration 0.3s ease-in-out;
  font: normal normal 600 20px/30px Segoe UI;
letter-spacing: 0px;
color: #519259;
opacity: 1;
}

.nav-item:hover {
  border-bottom:5px solid #519259;
}

/* styles.css */
.slider-container {
  width: 100%;
  margin: 0 auto;
  margin-left: 5px;
  overflow: hidden;
  position: relative;
}

.slide {
  float: left;
  width: 100%;
  display: none;
  position: relative;
}

.slide img {
  width: 100%;
  opacity: .5;
}

.slide-content {
  position: absolute;
  bottom: 200px;
  left: 300px;
  color: white;
  font-size: 2rem;
}

.slide-content h2 {
  font-size: 3rem;
  width: 80%;
  color: black !important;
}

.slide-content p{
  font-size: 2rem;
  width: 80%;
  width: 60%;
  color: black !important;
}

.slide-content button {
  background: #278233 0% 0% no-repeat padding-box;
  border-radius: 10px;
  padding: 2vh 3vh;
  opacity: 1;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slide-content button:hover {
  background-color: #236f2a;
}

.arrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
  font-size: 24px;
  z-index: 1;
  border-radius: 50%;
  padding: 10px;
  border: 0px;
}

.left-arrow {
  left: 20px;
}

.right-arrow {
  right: 20px;
}

.logo-menu img{
  width: 70%;
  padding-left: 20px;
}

/*3 section */

.main-container {
  height: 30vh;
  margin-left: 80px;
  margin-top: 50px;
  text-align: left;
  font: normal normal bold 50px/76px Poppins;
  letter-spacing: 0px;
  color: #080808;
  opacity: 1;
  display: flex;
  align-items: center;
}
.heading-sec {
  border-left: 8px solid green;
}

.container {
  display: flex;
  padding: 20px;
  height: 50vh;

  margin-top: 10px;
}
.image-section {
  flex: 1;
  display: flex;
  background-image: url("Asset/Path 1379.svg"),
    url("Asset/Path 1377.svg");
  background-size: 110% 100%, 110% 100%;
  background-position: 60% 75%, 3%;
  background-repeat: no-repeat;
  flex-direction: row;
  justify-content: center;
  margin-left: 30px;
}

.image-section img {
  max-width: 40%;
  height: 90%;
  margin-top: 20px;
  margin-bottom: 10px;
}
.img-left {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 10px;
}
.img-left img {
  max-width: 80%;

  margin-left: 60px;
  height: 50%;
}
.content-section {
  flex: 2;
  padding: 0 20px;
}

h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.content-section p {
  font: normal normal bold 36px/55px Poppins;
  letter-spacing: 0px;
  color: #080808;
  opacity: 1;
}

/* footer */

.footer {
  color: #fff;
  padding: 20px;
  margin-top: 150px;
}

.footer-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-left {
  flex: 0 0 30%;
}

.footer-left img {
  max-width: 70%;
}

.footer-left h3 {
  color: black;
}
.footer-left p {
  text-align: left;
  margin-left: 30px;
  letter-spacing: 0px;
  color: #000000;
  font-size: 24px;
  opacity: 1;
}

.footer-right {
  flex: 0 0 70%;
  color: black;
  padding-left: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f4eea9;
}

.sub-section {
  width: 30%;
  margin-bottom: 20px;
}
.sub {
  display: flex;
  gap: 2vh;
}

.sub-section h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.sub-section p {
  font-size: 16px;
  margin: 15px 0;
}

.footer .copyright {
  width: 70%;
  padding: 10px 0;
  font-size: 14px;
}

.copyright {
  font: normal normal normal 25px/33px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  /*nave*/

  .logo {
    width: 50%;
    margin-right: 80px;
  }

  .nav-list {
    display: none;
  }

  .slider-container {
    margin-left: 0px;
    width: 100%;
  }

  .slide-content {
    font-size: 1px;
    bottom: 10px;
    left: 10px;
  }
  .slide-content h2 {
    font-size: 25px;
  }
  .slide-content p {
    font-size: 20px;
    color: black;
  }
  .slide-content button {
    padding: 10px;
  }

  .left-arrow {
    left: 320px;
    top: 170px !important;
    
  }

  .right-arrow {
    right: 20px;
    top: 170px !important;
  }
  .arrow {
    position: absolute;
    top: 50%;
    cursor: pointer;
    font-size: 24px;
    z-index: 1;
  }
  .container {
    flex-direction: column;
    height: 100vh;
    width: 88%;
  }
  .main-container {
    margin-left: 10px;
    margin-top: 10px;
    height: 25vh;
  }
  .heading-sec {
    font-size: 35px;
    padding-left: 20px;
  }
  .image-section {
    margin-left: 0px;
    width: 100%;
  }

  .content-section p {
    font-size: 23px;
  }

  .footer {
    margin-top: 12px;
  }

  .footer-main {
    margin-top: 20px;
    flex-direction: column;
  }
  .sub {
    flex-direction: column;
    justify-content: center;
  }
  .sub-section {
    width: 100%;
  }
}
